!!!
%html
  %head
    %title DoggyTag - Easy Organisation
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = javascript_include_tag 'http://ajaxorg.github.com/ace/build/src/ace.js'
    - host = root_url(port: 8000, only_path: false)
    = javascript_include_tag "#{host}channel/bcsocket.js"
    = javascript_include_tag "#{host}share/share.js"
    = javascript_include_tag "#{host}share/json.js"
    = javascript_include_tag "#{host}share/ace.js"
    = javascript_include_tag 'application'

  %body{ id: "#{params[:controller]}-#{params[:action]}", class: "controller-#{params[:controller]} action-#{params[:action]}", 'data-host' => host }
    - unless browser.ie?# || ( browser.firefox? && !browser.modern? )
      %center
        %h1
          = link_to :root do
            = image_tag 'doggytag_logo_small.png'
          %span#page-title
            %span.brand= @title[:black]
            %span.doggy-blue= @title[:blue]
            %span.input{ contenteditable: true }
              #{@title[:black]} #{@title[:blue]}

        = render 'layouts/flash'

      = yield

    - else
      %h1 So nicht!
      %h2 Internet Explorer macht Doggy traurig. Schäm dich und komm mit einem richtigen Browser wieder!