!!!
%html
  %head
    %title KoeterTag
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = javascript_include_tag "http://ajaxorg.github.com/ace/build/src/ace.js"
    - host = root_url(:port => 8000, :only_path => false)
    = javascript_include_tag "#{host}channel/bcsocket.js"
    = javascript_include_tag "#{host}share/share.js"
    = javascript_include_tag "#{host}share/ace.js"
    = javascript_include_tag "application"

  %body
    %center
      %h1
        = link_to :root do
          = image_tag 'koetertag_logo_small.png'
        %span.brand= @title[:black]
        %span.claim= @title[:blue]

      = render 'layouts/flash'

    = yield
